body { background-color: green; }
nav ul li {display: inline;}
div.form-group{border: 1px solid dimgrey; width: 500px; height: 600px;}
footer p{text-align: center;}
img {width: 200px; height: 200px;}
